* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 2600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_107 {
  width: 100%;
  height: 384px;
  background: url("../images/v8_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2216px;
  left: 0px;
  overflow: hidden;
}
.v8_90 {
  width: 100%;
  height: 384px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_103 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 1209px;
  overflow: hidden;
}
.v8_49 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_44 {
  width: 130px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 149px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_45 {
  width: 104px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 177px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_54 {
  width: 75px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 117px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_43 {
  width: 52px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 85px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_106 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 993px;
  overflow: hidden;
}
.v8_48 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_53 {
  width: 90px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_105 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 777px;
  overflow: hidden;
}
.v8_47 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_65 {
  width: 130px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 72px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_66 {
  width: 104px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 104px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_67 {
  width: 78px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 136px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_68 {
  width: 39px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 168px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_69 {
  width: 52px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 232px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_70 {
  width: 52px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 200px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_52 {
  width: 90px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_104 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 561px;
  overflow: hidden;
}
.v2_26 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_64 {
  width: 101px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 200px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_62 {
  width: 133px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 232px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_61 {
  width: 39px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 168px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_60 {
  width: 78px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 136px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_59 {
  width: 91px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 104px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_58 {
  width: 130px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 72px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_46 {
  width: 60px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_108 {
  width: 285px;
  height: 45px;
  background: url("../images/v8_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 139px;
  overflow: hidden;
}
.v8_41 {
  width: 45px;
  height: 45px;
  background: url("../images/v8_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_39 {
  width: 45px;
  height: 45px;
  background: url("../images/v8_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v8_37 {
  width: 45px;
  height: 45px;
  background: url("../images/v8_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 240px;
  overflow: hidden;
}
.v2_20 {
  width: 400px;
  height: 75px;
  background: url("../images/v2_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 74px;
  overflow: hidden;
}
.v2_30 {
  width: 100%;
  height: 962px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1254px;
  left: 0px;
  overflow: hidden;
}
.v8_112 {
  width: 822px;
  height: 720px;
  background: url("../images/v8_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 1375px;
  left: 325px;
  overflow: hidden;
}
.v8_141 {
  width: 374px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 1333px;
  left: 435px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v8_102 {
  width: 100%;
  height: 384px;
  background: url("../images/v8_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 870px;
  left: 0px;
  overflow: hidden;
}
.v2_9 {
  width: 100%;
  height: 384px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_101 {
  width: 750px;
  height: 60px;
  background: url("../images/v8_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 497px;
  overflow: hidden;
}
.v2_16 {
  width: 750px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_88 {
  width: 20px;
  background: url("../images/v8_88.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 711px;
  border: 3px solid rgba(54,40,117,1);
}
.v8_92 {
  width: 449px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 250px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_85 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 161px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_91 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 22px;
  overflow: hidden;
}
.v8_82 {
  width: 58px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v8_79 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(54,40,117,1);
  overflow: hidden;
}
.v8_100 {
  width: 750px;
  height: 60px;
  background: url("../images/v8_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 497px;
  overflow: hidden;
}
.v2_15 {
  width: 750px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_87 {
  width: 20px;
  background: url("../images/v8_87.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 711px;
  border: 3px solid rgba(54,40,117,1);
}
.v8_93 {
  width: 386px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 250px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_84 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 161px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_99 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 22px;
  overflow: hidden;
}
.v8_78 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(54,40,117,1);
  overflow: hidden;
}
.v8_81 {
  width: 70px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 8px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v8_98 {
  width: 750px;
  height: 60px;
  background: url("../images/v8_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 497px;
  overflow: hidden;
}
.v2_14 {
  width: 750px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_86 {
  width: 20px;
  background: url("../images/v8_86.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 711px;
  border: 3px solid rgba(54,40,117,1);
}
.v8_94 {
  width: 412px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 250px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_83 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 161px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_95 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 22px;
  overflow: hidden;
}
.v8_80 {
  width: 46px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 8px;
  left: 37px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v8_77 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(54,40,117,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_10 {
  width: 96px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 175px;
  left: 195px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_140 {
  width: 100%;
  height: 799px;
  background: rgba(196,196,196,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v8_139 {
  width: 100%;
  height: 799px;
  background: url("../images/v8_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_118 {
  width: 100%;
  height: 799px;
  background: url("../images/v8_118.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v20_40 {
  width: 360px;
  height: 80px;
  background: url("../images/v20_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 504px;
  overflow: hidden;
}
.v20_41 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0, 0.6274510025978088, 0.529411792755127, 0.10000000149011612);
  overflow: hidden;
}
.v20_42 {
  width: 239px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 26px;
  left: 61px;
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_34 {
  width: 360px;
  height: 80px;
  background: url("../images/v19_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 540px;
  overflow: hidden;
}
.v19_35 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0, 0.6274510025978088, 0.529411792755127, 0.10000000149011612);
  overflow: hidden;
}
.v19_36 {
  width: 239px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 26px;
  left: 61px;
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v20_37 {
  width: 360px;
  height: 80px;
  background: url("../images/v20_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 126px;
  overflow: hidden;
}
.v20_38 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0, 0.6274510025978088, 0.529411792755127, 0.10000000149011612);
  overflow: hidden;
}
.v20_39 {
  width: 239px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 26px;
  left: 61px;
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v20_44 {
  width: 753px;
  height: 319px;
  background: url("../images/v20_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 77px;
  overflow: hidden;
}
.v8_120 {
  width: 753px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v8_122 {
  width: 661px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 292px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_31 {
  width: 100%;
  height: 70px;
  background: url("../images/v2_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 362px;
  height: 55px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v19_33 {
  width: 542px;
  height: 40px;
  background: url("../images/v19_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 564px;
  overflow: hidden;
}
.v19_32 {
  width: 319px;
  height: 19px;
  background: url("../images/v19_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 27px;
  color: rgba(54,40,117,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_3 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 59px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_4 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 175px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_5 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 263px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_6 {
  width: 190px;
  height: 40px;
  background: url("../images/v2_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 352px;
  overflow: hidden;
}
.v1_9 {
  width: 190px;
  height: 40px;
  background: linear-gradient(rgba(54,39,117,1), rgba(58,18,224,0.8299999833106995));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_14 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 32px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_2 {
  width: 100%;
  height: 2600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_107 {
  width: 100%;
  height: 384px;
  background: url("../images/v8_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2216px;
  left: 0px;
  overflow: hidden;
}
.v8_90 {
  width: 100%;
  height: 384px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_103 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 1209px;
  overflow: hidden;
}
.v8_49 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_44 {
  width: 130px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 149px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_45 {
  width: 104px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 177px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_54 {
  width: 75px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 117px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_43 {
  width: 52px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 85px;
  left: 27px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_106 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 993px;
  overflow: hidden;
}
.v8_48 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_53 {
  width: 90px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_105 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 777px;
  overflow: hidden;
}
.v8_47 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_65 {
  width: 130px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 72px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_66 {
  width: 104px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 104px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_67 {
  width: 78px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 136px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_68 {
  width: 39px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 168px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_69 {
  width: 52px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 232px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_70 {
  width: 52px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 200px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_52 {
  width: 90px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8_104 {
  width: 183px;
  height: 279px;
  background: url("../images/v8_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 561px;
  overflow: hidden;
}
.v2_26 {
  width: 183px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_64 {
  width: 101px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 200px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_62 {
  width: 133px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 232px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_61 {
  width: 39px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 168px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_60 {
  width: 78px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 136px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_59 {
  width: 91px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 104px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_58 {
  width: 130px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 72px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_46 {
  width: 60px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_108 {
  width: 285px;
  height: 45px;
  background: url("../images/v8_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 139px;
  overflow: hidden;
}
.v8_41 {
  width: 45px;
  height: 45px;
  background: url("../images/v8_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_39 {
  width: 45px;
  height: 45px;
  background: url("../images/v8_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v8_37 {
  width: 45px;
  height: 45px;
  background: url("../images/v8_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 240px;
  overflow: hidden;
}
.v2_20 {
  width: 400px;
  height: 75px;
  background: url("../images/v2_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 74px;
  overflow: hidden;
}
.v2_30 {
  width: 100%;
  height: 962px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1254px;
  left: 0px;
  overflow: hidden;
}
.v8_112 {
  width: 822px;
  height: 720px;
  background: url("../images/v8_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 1375px;
  left: 325px;
  overflow: hidden;
}
.v8_141 {
  width: 374px;
  color: rgba(56,57,53,1);
  position: absolute;
  top: 1333px;
  left: 435px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v8_102 {
  width: 100%;
  height: 384px;
  background: url("../images/v8_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 870px;
  left: 0px;
  overflow: hidden;
}
.v2_9 {
  width: 100%;
  height: 384px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_101 {
  width: 750px;
  height: 60px;
  background: url("../images/v8_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 497px;
  overflow: hidden;
}
.v2_16 {
  width: 750px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_88 {
  width: 20px;
  background: url("../images/v8_88.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 711px;
  border: 3px solid rgba(54,40,117,1);
}
.v8_92 {
  width: 449px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 250px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_85 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 161px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_91 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 22px;
  overflow: hidden;
}
.v8_82 {
  width: 58px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v8_79 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(54,40,117,1);
  overflow: hidden;
}
.v8_100 {
  width: 750px;
  height: 60px;
  background: url("../images/v8_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 497px;
  overflow: hidden;
}
.v2_15 {
  width: 750px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_87 {
  width: 20px;
  background: url("../images/v8_87.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 711px;
  border: 3px solid rgba(54,40,117,1);
}
.v8_93 {
  width: 386px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 250px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_84 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 161px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_99 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 22px;
  overflow: hidden;
}
.v8_78 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(54,40,117,1);
  overflow: hidden;
}
.v8_81 {
  width: 70px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 8px;
  left: 25px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v8_98 {
  width: 750px;
  height: 60px;
  background: url("../images/v8_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 497px;
  overflow: hidden;
}
.v2_14 {
  width: 750px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_86 {
  width: 20px;
  background: url("../images/v8_86.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 711px;
  border: 3px solid rgba(54,40,117,1);
}
.v8_94 {
  width: 412px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 250px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v8_83 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 161px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v8_95 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 22px;
  overflow: hidden;
}
.v8_80 {
  width: 46px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 8px;
  left: 37px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v8_77 {
  width: 120px;
  height: 30px;
  background: url("../images/v8_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(54,40,117,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_10 {
  width: 96px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 175px;
  left: 195px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_140 {
  width: 100%;
  height: 799px;
  background: rgba(196,196,196,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v8_139 {
  width: 100%;
  height: 799px;
  background: url("../images/v8_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_118 {
  width: 100%;
  height: 799px;
  background: url("../images/v8_118.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v20_40 {
  width: 360px;
  height: 80px;
  background: url("../images/v20_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 504px;
  overflow: hidden;
}
.v20_41 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0, 0.6274510025978088, 0.529411792755127, 0.10000000149011612);
  overflow: hidden;
}
.v20_42 {
  width: 239px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 26px;
  left: 61px;
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_34 {
  width: 360px;
  height: 80px;
  background: url("../images/v19_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 540px;
  overflow: hidden;
}
.v19_35 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0, 0.6274510025978088, 0.529411792755127, 0.10000000149011612);
  overflow: hidden;
}
.v19_36 {
  width: 239px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 26px;
  left: 61px;
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v20_37 {
  width: 360px;
  height: 80px;
  background: url("../images/v20_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 126px;
  overflow: hidden;
}
.v20_38 {
  width: 360px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0, 0.6274510025978088, 0.529411792755127, 0.10000000149011612);
  overflow: hidden;
}
.v20_39 {
  width: 239px;
  color: rgba(54,40,117,1);
  position: absolute;
  top: 26px;
  left: 61px;
  font-family: Noto Sans JP;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v20_44 {
  width: 753px;
  height: 319px;
  background: url("../images/v20_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 77px;
  overflow: hidden;
}
.v8_120 {
  width: 753px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v8_122 {
  width: 661px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 292px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_31 {
  width: 100%;
  height: 70px;
  background: url("../images/v2_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 362px;
  height: 55px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v19_33 {
  width: 542px;
  height: 40px;
  background: url("../images/v19_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 564px;
  overflow: hidden;
}
.v19_32 {
  width: 319px;
  height: 19px;
  background: url("../images/v19_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 27px;
  color: rgba(54,40,117,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_3 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 59px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_4 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 175px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_5 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 263px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_6 {
  width: 190px;
  height: 40px;
  background: url("../images/v2_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 352px;
  overflow: hidden;
}
.v1_9 {
  width: 190px;
  height: 40px;
  background: linear-gradient(rgba(54,39,117,1), rgba(58,18,224,0.8299999833106995));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_14 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 32px;
  font-family: Noto Sans;
  font-weight: Display Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
